.cards-container {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
  justify-items: center;
  align-items: center;
  gap: 2rem;
  height: 60vh;
  overflow-x: hidden;
  overflow-y: scroll;

}

.card{
    display: flex;
    position: relative;
}

.front{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(245, 245, 245, 0.385);
}

.back{
    display: flex;
}


@media (max-width:320px){
}